.github {
  grid-area: github;
  display: flex;
  text-align: center;
  background: linear-gradient(
    5deg,
    rgba(255, 255, 255, 0.06),
    rgba(77, 176, 238, 0.329)
  );
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 16px;
  color: #e7e9ee;
}

.url {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  color: #f7f4f4;
  width: 100%;
  height: 100%;
}

.githubText {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.githubText h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

.githubText p {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.4;
  font-weight: 300;
  color: #a9acb0;
}

.url i {
  color: #f5efef;
  font-size: 3.4rem;
}

@media (max-width: 900px) {
  .github {
    grid-row: auto;
    min-height: 120px;
  }

  .url i {
    font-size: 3.2rem;
  }

  .githubText {
    display: none;
  }
}

@media (max-width: 600px) {
  .github {
    min-height: 80px;
  }

  .url i {
    font-size: 2.8rem;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .github {
    min-height: 68px;
  }

  .url i {
    font-size: 1.9rem;
  }
}
